bin/

# Track the generated HTML coverage report.
!tests/bin/
tests/bin/*

!tests/bin/coverage/
tests/bin/coverage/*

!tests/bin/coverage/html/
!tests/bin/coverage/html/**

# This file is used for local testing and should not be committed.
samples/test.cpp